/**{
	background: grey;
}*/
body{
	text-align: center;
}
#main{
	width: 480px;
	height: auto;
	margin: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
/*	display: flex;*/
}
#line-1, #line-2{
	width: 100%;
	height: auto;
	float: left;
	justify-content: center;
}
.grey{
	width: 50px;
	height: 50px;
	float: left;
	border: 1px solid black;
	margin-right: 1px;
	margin-bottom: 1px;
	background-color: lightgrey;
}
#white{
	width: 50px;
	height: 50px;
	float: left;
	border: 1px solid black;
	margin-right: 1px;
	margin-bottom: 1px;
	background-color: white;
}
.ball{
	width: 40px;
	height: 40px;
	float: left;
	margin:5px;
	border-radius: 50%;
	background-color: purple;
	position:relative;
}
.active{
	width: 40px;
	height: 40px;
	float: left;
	margin:5px;
	border-radius: 50%;
	background-color: purple;
	position:relative;

}
#grey_square{
	width: 50px;
	height: 50px;
	float: left;
	border: 1px solid black;
	margin-right: 1px;
	margin-bottom: 1px;
	background-color: lightgrey;
}
.container{
	width: 480px;
	height: auto;
	margin: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
}
#score{
	margin-bottom: 20px;
}